.modal-menu {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.96);
    position: fixed;
    z-index: 10;
    transform: translateY(-120%);  
    transition: transform 1s ease;
}

.menu {
    min-width: 320px;
    max-width: 360px;
    height: 100vh;
    padding: 18px 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: -0.2px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: white;
    &--visible {
    transform: translateY(0%);
    }
    &__header {
        justify-content: space-between;
    }
    &__logo {
        margin-left: 48px;
    }
    &__button-search {
        margin-left: auto;
        background-image: url(../img/search-icon.svg);
    }
    .navigation {
        flex-grow: 1;
        &__list {
            padding-bottom: 32px;
        }
        &__item {
            font-family: 'TT Lakes';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 26px;
            &--active {
                position: relative;
                color: #7E7E82;
                &::before {
                    content: "";
                    height: 32px;
                    border-left: 4px solid #41F6D7;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    position: absolute;
                    left: -24px;
                    top: -5px;
                }
            }
        }
        &__link {
            color: #1B1C21;
            background-image: linear-gradient($color-border, $color-border);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.4s ease-in-out;
            &:hover {
                background-size: 100% 2px;    
            }
            &--active {
                color: #7E7E82;
            }
        }
    }
}

.menu-header, .communication  {
    display: flex;
    flex-direction: row;
}
.menu-header {
    padding-bottom: 40px;
    align-items: center;
}
.button--close {
    position: fixed;
    z-index: 35;
    margin-left: 0;
    background-image: url(../img/burger-menu-close-icon.svg);
    &:hover {
        transform: rotate(360deg);
        transition: transform 1s ease;
    }
}

.communication {
    flex-wrap: wrap;
}
.contacts {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    &__mail {
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        padding-bottom: 12px;
    }
    &__phone {
    font-size: 24px;
    font-weight: 700;
    color: #1B1C21;
    line-height: 32px;
    letter-spacing: -0.6px;
    }
}
.language-switch {
    padding-top: 35px;
    &__button {
        border: none;
        background-color: transparent;
        font-family: 'TT Lakes';
        color: #1B1C21;
        font-size: 16px;
        font-weight: 500;
        padding-right: 7px;
        line-height: 24px;
        cursor: pointer;
        &--active {
            color: #7E7E82;
        }
    }
}
@media(min-width: 768px) { 
    .menu {
        &__logo {
            margin-left: 58px;
        }
    }
}
@media(min-width: 1440px) { 
    .modal-menu {
        box-shadow: none;
        transform: translateY(0%);
        position: static;
        width: 320px;
        .menu {
            box-shadow: none;
        &__logo {
            margin-left: 0;
            }
        }
        .button--close {
            display: none;
        }
        .language-switch {
            margin-bottom: 40px;
        }
    }
}